@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Véhicules";
}

<partial name="_AdminPagesTitle" title="Véhicules" />

<p>
    <a class="create-element" asp-action="Create">Créer une nouvelle annonce</a>
</p>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Annee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Finition)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.IsPublished)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Annee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marque.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modele.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finition.Nom)
                    </td>
                    <td>
                        <a asp-action="Listing" asp-route-id="@item.Id" title="Voir l'annonce">📰</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Modifier l'annonce">🖋️</a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="Détails de l'annonce">📋</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Supprimer l'annonce'">❌</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
