@model ExpressVoitures.Data.Vehicle

@{
    ViewData["Title"] = "Modification | Véhicule";
    ViewData["NomPage"] = "Modifier un véhicule";
    ViewData["ControllerName"] = "Vehicles";
    ViewData["ActionName"] = "AdminIndex";
}

<partial name="_AdminPagesTitle" />

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodeVIN" class="control-label"></label>
                <input asp-for="CodeVIN" class="form-control" />
                <span asp-validation-for="CodeVIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annee" class="control-label"></label>
                <input asp-for="Annee" type="number" class="form-control" />
                <span asp-validation-for="Annee" class="text-danger"></span>
            </div>
            <partial name="_VehicleSelectPartial" model="Model" />
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label>
                <input asp-for="DateAchat" type="date" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label>
                <input asp-for="PrixAchat" type="number" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reparations" class="control-label">Liste des réparations</label>
                <input asp-for="Reparations" class="form-control" type="textarea" />
            </div>
            <div class="form-group">
                <label asp-for="CoutsReparation" class="control-label">Coût des réparations</label>
                <input asp-for="CoutsReparation" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateDisponibiliteVente" class="control-label"></label>
                <input asp-for="DateDisponibiliteVente" type="date" class="form-control" />
                <span asp-validation-for="DateDisponibiliteVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixVente" class="control-label"></label>
                <input asp-for="PrixVente" type="number" class="form-control" />
                <span asp-validation-for="PrixVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" type="date" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="images" class="control-label">Images:</label>
                <input type="file" id="images" name="images" class="form-control" multiple />
            </div>
            <div class="form-group my-3">
                <label asp-for="IsPublished" class="control-label">Publier l'annonce</label>
                <input asp-for="IsPublished" class="form-check-input" type="checkbox" id="IsPublished" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn button-annonce-filtre" />
            </div>
        </form>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Images existantes</label>
            <div class="d-flex flex-row flex-wrap">
                @foreach (var image in Model.Images)
                {
                    <div class="col-3 m-2">
                        <div class="image-container position-relative mb-3">
                            <img src="@image.ImageLink" alt="Image du véhicule" class="img-fluid" />
                            <form asp-action="DeleteImage" method="post" class="position-absolute top-0 end-0">
                                <input type="hidden" name="imageId" value="@image.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">×</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function updateModeleSelect() {
            updateSelect("marqueSelect", "modeleSelect", @Html.Raw(Json.Serialize(ViewBag.Modeles)), "id", "marqueId", @(ViewBag.ModeleId != null ? ViewBag.ModeleId : ""));
            updateFinitionSelect();
        }

        function updateFinitionSelect() {
            updateSelect("modeleSelect", "finitionSelect", @Html.Raw(Json.Serialize(ViewBag.Finitions)), "id", "modeleId", @(ViewBag.FinitionId != null ? ViewBag.FinitionId : ""));
        }
        document.addEventListener("DOMContentLoaded", function () {
            updateModeleSelect();
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .image-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 ratio */
        overflow: hidden;
        background-color: #f0f0f0; /* Optional: background color */
        margin-bottom: 10px;
    }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .image-container .btn-danger {
            position: absolute;
            top: 5px;
            right: 5px;
        }
</style>
