@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Annonces";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ajouter une annonce</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeVIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDisponibiliteVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeVIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAchat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixAchat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDisponibiliteVente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixVente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateVente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modele.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finition.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
