@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Annonces";
}

<h1 class="text-center">Annonces</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="create-element" asp-action="Create">Ajouter une annonce</a>
    </p>
}
<section class="annonce-filtre-container">
    <div class="d-flex justify-content-center">
        <button class="btn button-annonce-filtre" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
            Filtrer
        </button>
    </div>
    <div class="collapse" id="filterCollapse">
        <form id="filters-form" class="card card-body flex-col" method="get" asp-action="Index">
            <div class="row m-3">
                <div class="form-group col">
                    <label class="control-label">Marque</label>
                    <select id="marqueSelect" name="MarqueId" class="form-control" onchange="updateModeleSelect()">
                        <option value="">Sélectionner une marque</option>
                        @foreach (var marque in ViewBag.Marques)
                        {
                            <option value="@marque.Id">@marque.Nom</option>
                        }
                    </select>
                </div>
                <div class="form-group col">
                    <label class="control-label">Modèle</label>
                    <select id="modeleSelect" name="ModeleId" class="form-control" onchange="updateFinitionSelect()" disabled>
                        <option value="">Sélectionner un modèle</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label class="control-label">Finition</label>
                    <select id="finitionSelect" name="FinitionId" class="form-control" disabled>
                        <option value="">Sélectionner une finition</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label class="control-label">Année</label>
                    <input type="number" name="Annee" class="form-control" value="@(ViewBag.Filters.Annee != null ? ViewBag.Filters.Annee : "")" />
                </div>
                <div class="form-group col-1">
                    <label class="control-label"></label>
                    <input type="button" id="removeFilters" name="removeFilters" class="form-control btn btn-outline-danger" value="X" />
                </div>
            </div>
            <div class="row m-3">
                <div class="form-group col">
                    <label class="control-label">Vehicules disponibles seulement</label>
                    <input name="Disponible" class="form-check-input" type="checkbox" id="IsPublished" value="true" checked=@ViewBag.Filters.Disponible />
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn button-annonce-filtre">Rechercher</button>
            </div>
        </form>
    </div>
</section>
<section id="offer-section" class="d-flex flex-lg-wrap align-items-center justify-content-start annonce-container">
    @{
        if (!Model.Any())
        {
            <div>Aucune annonce trouvée</div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div id="vehicle-@item.Id-block" class="annonce">
                    <a asp-action="Listing" asp-route-id="@item?.Id" class="text-decoration-none">
                        <figure class="card-header d-flex align-items-center justify-content-between annonce-block">
                            @if (item.DateVente != null)
                            {
                                <div class="sold-out">
                                    <h4 class="sold-out-text">Véhicule vendu</h4>
                                </div>
                            }
                            <div class="annonce-image-container">
                                <img class="annonce-image" src="@(item.Images != null && item.Images.Any() ? item.Images.FirstOrDefault().ImageLink : "/img/general/media-unavailable.png")" />
                            </div>
                            <figcaption class="annonce-text-block">
                                <div class="d-flex flex-column">
                                    <span class="annonce-titre">
                                        @Html.DisplayFor(modelItem => item.Marque.Nom) @Html.DisplayFor(modelItem => item.Modele.Nom)
                                    </span>
                                    <span class="annonce-texte">@Html.DisplayFor(modelItem => item.Finition.Nom)</span>
                                    <span class="annonce-texte">@Html.DisplayFor(modelItem => item.Annee)</span>
                                </div>
                                <div class="annonce-prix-edit">

                                    <span class="annonce-prix">
                                        @Html.DisplayFor(modelItem => item.PrixVente) €
                                    </span>

                                </div>
                            </figcaption>
                        </figure>
                    </a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="annonce-edit-block">
                            <a class="btn icon-link" asp-action="AdminIndex" title="Retour à la liste administrateur">📋</a>
                            <a class="btn icon-link" asp-action="Edit" asp-route-id="@item?.Id" onclick="logIssue">🖋️</a>
                            <a class="btn icon-link" asp-action="Delete" asp-route-id="@item?.Id">❌</a>
                        </div>
                    }
                </div>
            }
        }
    }
</section>
<script>
    function setMarqueId() {
        var marqueId = '@ViewBag.MarqueId';
        if (marqueId) {
            var selectElement = document.getElementById("marqueSelect");
            if (selectElement) {
                selectElement.value = marqueId;
            }
        }
        updateModeleSelect();
    }

    function updateModeleSelect() {
        updateSelect("marqueSelect", "modeleSelect", @Html.Raw(Json.Serialize(ViewBag.Modeles)), "id", "marqueId", @(ViewBag.ModeleId != null ? ViewBag.ModeleId : ""));
        updateFinitionSelect();
    }

    function updateFinitionSelect() {
        updateSelect("modeleSelect", "finitionSelect", @Html.Raw(Json.Serialize(ViewBag.Finitions)), "id", "modeleId", @(ViewBag.FinitionId != null ? ViewBag.FinitionId : ""));
    }
    document.addEventListener("DOMContentLoaded", function () {
        setMarqueId();
        $('#removeFilters').click(resetForm);
    });

    function resetForm() {
        $('#marqueSelect').val("");
        $('#modeleSelect').val("");
        $('#finitionSelect').val("");
    }
</script>
