@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Annonces";
}

<h1>Annonces</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Ajouter une annonce</a>
    </p>
}
<section id="offer-section" class="d-flex flex-lg-wrap align-items-center justify-content-start annonce-container">
    @foreach (var item in Model)
    {
        <div id="vehicle-@item.Id-block" class="annonce">
            <a asp-action="Listing" asp-route-id="@item?.Id" class="text-black text-decoration-none">
                <figure class="card-header d-flex align-items-center justify-content-between annonce-block">
                    <div class="annonce-image-container annonce-image">
                        <img src="@(item.Images != null && item.Images.Any() ? item.Images.FirstOrDefault().ImageLink : "/img/general/media-unavailable.png")" />
                    </div>
                    <figcaption class="annonce-text-block">
                        <div class="d-flex flex-column">
                            <span class="annonce-titre">
                                @Html.DisplayFor(modelItem => item.Marque.Nom) @Html.DisplayFor(modelItem => item.Modele.Nom)
                            </span>
                            <span class="annonce-texte">@Html.DisplayFor(modelItem => item.Finition.Nom)</span>
                            <span class="annonce-texte">@Html.DisplayFor(modelItem => item.Annee)</span>
                        </div>
                        <div class="annonce-prix-edit">
                            <div class="annonce-edit-block">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    <a class="icon-link" asp-action="Edit" asp-route-id="@item?.Id">🖋️</a>
                                    <a class="icon-link" asp-action="Delete" asp-route-id="@item?.Id">❌</a>

                                }
                            </div>
                            <span class="annonce-prix">
                                @Html.DisplayFor(modelItem => item.PrixVente) €
                            </span>

                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
    }
</section>