@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ExpressVoitures.Data.Vehicle>

@{
    ViewData["Title"] = "Annonces";
}

<h1>Annonces</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Ajouter une annonce</a>
    </p>
}
<section id="offer-section" class="d-flex flex-lg-wrap align-items-center justify-content-start">
    @foreach (var item in Model)
    {
        <div id="vehicle-@item.Id-block" class="card m-2 annonce" style="width:400px">
            <a asp-action="Details" asp-route-id="@item?.Id" class="text-black text-decoration-none">
                <figure class="card-header d-flex align-items-center justify-content-between">
                    <div class="image-container" style="width:170px">
                        <img class="card-img" src="@(item.Images != null && item.Images.Any() ? item.Images.FirstOrDefault().ImageLink : "/img/general/media-unavailable.png")" />
                    </div>
                    <figcaption class="d-flex flex-column card-body flex-column" style="width:170px">
                        <div class="d-flex flex-column">
                            <span>@Html.DisplayFor(modelItem => item.Marque.Nom) @Html.DisplayFor(modelItem => item.Modele.Nom)</span>
                            <span>@Html.DisplayFor(modelItem => item.Finition.Nom)</span>
                            <span>@Html.DisplayFor(modelItem => item.Annee)</span>
                        </div>
                        <div class="d-flex flex-column card-text">
                            @Html.DisplayFor(modelItem => item.PrixVente, new { @class = "fw-bold" })€
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div>
                                    <a asp-action="Edit" asp-route-id="@item?.Id">Edit</a>
                                    <span>|</span>
                                    <a asp-action="Delete" asp-route-id="@item?.Id">Delete</a>
                                </div>
                            }
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
    }
</section>
<style>
    .annonce {
        width: 300px;
    }
</style>