@model IEnumerable<ExpressVoitures.Data.CarBrand>

@{
    ViewData["Title"] = "Marques";
}

<partial name="_AdminPagesTitle" title="Marques" />

<p>
    <a class="create-element" asp-action="Create">Ajouter une marque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    <a class="btn icon-link" asp-action="Details" asp-route-id="@item.Id" title="Détails">📋</a>
                    <a class="btn icon-link" asp-action="Edit" asp-route-id="@item.Id" onclick="logIssue" title="Éditer">🖋️</a>
                    <a class="btn icon-link" asp-action="Delete" asp-route-id="@item.Id" title="Supprimer">❌</a>
                </td>
            </tr>
        }
    </tbody>
</table>
