@model ExpressVoitures.Data.CarFinish

@{
    ViewData["Title"] = "Détails | Finition";
    ViewData["ControllerName"] = "CarFinishes";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Détails de la finition";
}

<partial name="_AdminPagesTitle" />

<div>
    <h4>Finition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modele.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modele.Marque.Nom)
        </dd>
    </dl>
</div>

<partial name="_DetailsNavPartial" model="Model" />
