@model IEnumerable<ExpressVoitures.Data.CarFinish>

@{
    ViewData["Title"] = "Finitions";
    ViewData["ControllerName"] = "Admin";
    ViewData["ActionName"] = "Index";
    ViewData["NomPage"] = "Finitions";
}

<partial name="_AdminPagesTitle" />

<p>
    <a class="create-element" asp-action="Create">Ajouter une finition</a>
</p>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modele.Marque)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modele.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modele.Marque.Nom)
                    </td>
                    <td>
                        <partial name="_DetailsNavPartial" model="item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
